*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}
input:focus {outline: none;}
ul,li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p,a{
    margin: 0;
    padding: 0;
}

.interface{
    display: flex;
    background-color: #F3F6FD;
}
.left__panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    min-height: 100vh;
    gap: 30px;
    -webkit-box-shadow: 2px 1px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 2px 1px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 1px 8px 0px rgba(34, 60, 80, 0.2);
}

.menu__list{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}
.btn-panel{
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #fff;
    box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
    border-radius: 14px;
    padding: 15px 17px;
    transition: all .5s ease;
}
.btn-panel:hover{
    background: #5051F9;
}
.btn-panel:hover > img{
    filter:brightness(5);
}
.btn-panel-add{
    border: 1px solid #CAD5FF;
    border-radius: 14px;
    background: #fffefe;
}
.right-block{
    padding: 45px 50px;
    width: 900px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header__title{
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
}
.progress{
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 235px;
}
.progress__info{
    display: flex;
    justify-content: space-between;
}
.progress__title, .progress__procent{
font-size: 14px;
line-height: 16px;
color: #232360;
}
.progress__bar{
    width: 100%;
    background-color: #E6E9ED;
    border-radius: 4px;
    height: 5px;
    position: relative;
}
.progress_bar-dls{
    position: absolute;
    left: 0;
    width: 50%;
    border-radius: 4px;
    height: 5px;
    transition: all .3s ease;
    background-color: #5051F9;
}
.main{
    margin-top: 36px;
}
.days__block{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.habbit{
    background: #fff;
    border-radius: 10px;
    display: flex; 
    -webkit-box-shadow: 4px 4px 13px -8px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 13px -8px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 13px -8px rgba(34, 60, 80, 0.2);
}
.obv-habbit-comment-form{
    padding: 0;
    width: 100%;
    margin: auto;
}
.habbit__day{
    border-radius: 10px 0 0 10px;
    padding: 20px 40px;
    min-width: 150px;
}
.habbit__comment{
    font-size: 16px;
    line-height: 18px;
    color: #23235F;
    padding: 20px 25px;
}
.habbit__delete{
    margin-top: auto;
    margin-bottom: auto;
    height: 45px;
    margin-left: auto;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition:  all .5s ease;
    padding: 5px 7px;
}
.habbit__delete:hover{
    background-color: #f0efef;
}
.input-icon{
    border: 1px solid #E7EBFB;
    border-radius: 9px;
    padding: 12px 20px 12px 45px;
    font-family: 'Comfortaa', cursive;
    flex: 1;
    position: relative;
}
.obv-habbit-day{
    background: #FBFAFF;
    border-right: 1px solid #E7EBFB;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.obv-habbit-comment{
    display: contents;
}
.input-icon::placeholder{
    color: #8899A8;
}
.habbit__form{
    display: flex;
    gap: 15px;
    font-family: 'Comfortaa', cursive;
    width: 100%;
    padding-left: 25px;
    position: relative;
}
.habbit__add{
    margin-right: 20px;
    margin-left: auto;
    background: #EDECFE;
    border-radius: 9px;
    transition:  all .5s ease;
    color: #5051F9;
    font-size: 13px;
    padding: 14px 32px;
    border: 1px solid #4c4cff;
    cursor: pointer;
    font-weight: 500;
}
.noShowMore{
    background: #EDECFE;
    border-radius: 9px;
    transition:  all .5s ease;
    color: #5051F9;
    font-size: 13px;
    padding: 14px 32px;
    border: 1px solid #4c4cff;
    cursor: pointer;
    font-weight: 500;
    display: block;
    margin: auto;
    outline: none;
}
.habbit__add:hover, .noShowMore:hover{
    background-color: #e0ddff;
}
.input-icon-img{
    position: absolute;
    top: 12px;
    left: 45px;
}
.menu__item-active>.menu__link{

    background: #5252ff;
}
.menu__img-icon{
    width: 25px;
    height: 25px;
}
.menu__item-active>.menu__link>.menu__img-icon{
    filter: brightness(300%);
}
.habbit__popup{
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
}
.fancybox__container{
    --fancybox-bg: rgb(24 24 27 / 17%);
}
.habbit__popup{
    text-align: center;
}
.habbit__popup-title{
    font-size: 24px;
    line-height: 27px;
}
.habbit__popup-subtitle{
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #768396;
    margin-top: 15px;
}
.habbit__popup-icons{
    display: flex;
    gap: 25px;
    margin-top: 15px;
    justify-content: center;
}
.habbit_popup-btnIcon{
    padding: 10px 12px;
    border-radius: 14px;
    background: aliceblue;
    border: 1px solid #5051F9;
    cursor: pointer;
    transition: all .5s ease;
}
.habbit_popup-btnIcon:hover{
    background-color: #5051F9;
}
.habbit__popup-img{
    width: 25px;
    height: 25px;
}
.habbit_popup-btnIcon:hover > .habbit__popup-img{
    filter: brightness(300%);
}
.form__habbit{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.form__habbit-inp{
    min-width: 380px;
    padding: 11px 20px;
    border: 1px solid #E7EBFB;
    border-radius: 9px;
}
.form__habbit-btn{
    display: inline-block;
    cursor: pointer;
    color: #5051F9;
    padding: 14px 20px;
    font-weight: 500;
    background: #EDECFE;
    border-radius: 9px;
    border: 1px solid #EDECFE;
    margin-top: 17px;
    transition: all .2s ease;
}
.form__habbit-btn:hover{
background: #e3e1fd;
}
.fancybox__content>.f-button.is-close-btn{
    top: 5px;
    right: 5px;
    --f-button-color: #5051F9;
    --f-button-hover-color: #0000ff;
}
.habbit__popup-icons-list{
    display: flex;
    gap: 5px;
}
.habbit__popup-icons-active>button{
    background-color: #0000ff;
}
.habbit__popup-icons-active>button>img{
    filter: brightness(300%);
}
.habbit__day-final{
    background: #d7fad3;
    border-radius: 10px;
    border: 1px solid #3aaa2e;
    display: flex;
    align-items: center;
}
.habbit__day-final>.habbit__day{
    background: #d7fad3;
    border: none;
}
.input-icon-error{
    border: 3px solid #d11c1cfb;  
}



.final-text>.habbit__day{
    background-color: #d7fad3;
    padding: 20px 25px 0px 25px;
    border-radius: 10px;
}
.habbit__day-final{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.final-buttons{
    display: flex; 
    gap: 10px;  
}
.final-button{
    border: 1px solid #3aaa2e;
    cursor: pointer;
    background-color: #d7fad3;
    border-radius: 10px;
    box-shadow: 0px 4px 2px 2px rgba(77, 128, 4, 0.2);
    padding: 20px 30px;
    transition: all .3s ease;
}
.final-button:hover{
    background-color: #befab8;
}
.mobile-menu{
    position: relative;
    height: 1px;
    width: 25px;
    background-color: #0000ff;
    margin-top: 12px;
    transition: all .5s ease;
}
.mobile-menu::after, .mobile-menu::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 25px;
    background-color: #0000ff;
    transition: all .5s ease;
}
.mobile-menu::after{
    top: -8px;
    left: 0;
}
.mobile-menu::before{
    bottom: -8px;
    left: 0;
}
.obv-mobile-menu{
    width: 25px;
    height: 25px;
}
.obv-mobile-menu-active .mobile-menu::after{
    transform: rotate(45deg);
    top: 0;
}
.obv-mobile-menu-active .mobile-menu::before{
    bottom: 0;
    transform: rotate(-45deg);
}
.obv-mobile-menu-active .mobile-menu{
    background-color: transparent;
}
@media(max-width: 850px){
    .habbit{
        flex-direction: column;
    }
    .obv-habbit-comment-form{
        padding: 10px 0;
    }
    .habbit__day{
        border-radius: 10px;
    }
    .obv-habbit-day{
        border: none;
        border-radius: 10px;
    }
}
@media(max-width: 700px){
    .habbit__delete{
        margin-top: 5px;
    }
    .obv-habbit-comment{
        display: flex;
    }
    .left__panel{
        padding: 15px;
    }
}
@media(max-width: 670px){
    .left_panel-logoimg{
        width: 55px;
    }

    .right-block{
        width: auto;
        padding: 40px;
        background: #F3F6FD;
    }
    body{
        background: #F3F6FD;
    }
    .left__panel{
        flex-direction: row;
        min-height: 20vh !important;
    }
    .menu__list{
        display: flex;
        flex-direction: row;
    }
    .interface{
        flex-direction: column;
    }
    .habbit__form{
        flex-direction: column;
        padding-right: 25px;
    }
    .habbit__add{
        min-width: 100%;
    }
    .header{
        flex-direction: column;
        gap: 20px;
    }
    .header__title{
        font-size: 15px;
        line-height: 23px;
        font-weight: 900;
    }
    .menu{
        width: 65%;
        overflow: scroll;
        padding: 10px 15px;
        scroll-behavior: smooth;
    }
    .menu__item:nth-child(1){
        padding-left: 10px;
    }
    .menu__item:nth-last-child(1){
        padding-right: 10px;
    }
    .obv-habbit-day{
        border-bottom: 1px solid #E7EBFB;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form__habbit-inp{
        min-width: auto !important;
    }
    .final-buttons{
        flex-direction: column;
    }
    .final-button{
        padding: 14px 10px;
    }
}